*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header__navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 16px 32px;
    background-color: #f8f9fa;
}


.header__logo img {
    height: 40px;
}


.header__menu-list {
    display: flex; 
    /* list-style: none; */
    padding: 0;
    margin: 0;
}

.header__menu-item {
    margin-left: 24px; 
}

.header__menu-link {
    text-decoration: none !important;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

/* hover */
.header__menu-link:hover {
    color: #007bff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}



/* Main section */
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 2rem;
    flex: 1;
}

.content, .sidebar {
    padding: 1rem;
    border-radius: 8px;
}

.content {
    background-color: #BBDCEF;
}

.sidebar {
    background-image: linear-gradient(45deg, #25AAE1 0%, #0C004C 100%); 
    padding: 2rem;
    font-size: small;
    color: white;
    font-weight: 500;
}

/* Footer */
.footer {
    background-image: linear-gradient(45deg, #25AAE1 0%, #0C004C 100%); 
    color: #fff;
    text-align: center;
    padding: 1rem;
}


.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicios__item {
    margin-bottom: 2rem;
}

#seccionNoticias{
    text-align: center;
    padding: 0 2rem;
}