*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    font-size: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

ul{
    list-style: decimal;
}

/* Main section */
.main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    padding: 2rem;
    flex: 1;
}

.content, .sidebar {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 10px;
}

.sidebar {
    background-color: #ff00c8;
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
    }
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}